/*********************************************************

rb-item
----------------------------------------------------------

**********************************************************/
//General
$item-bg: rgba(#fff, 0) !default;
$item-padding: 0 !default;

//Mediabox
$item-mediabox-margin: 0 0 10px !default;
$item-mediabox-bg: #eee !default;

//Title
$item-title-font: sans-serif !default;
$item-title-fontsize: 24px !default;
$item-title-lineheight: 28px !default;
$item-title-fontweight: 600 !default;
$item-title-color: #ff2bac !default;
$item-title-color-hover: #a50659 !default;
$item-title-margin: 0 0 10px !default;

//Text
$item-text-font: sans-serif !default;
$item-text-fontsize: 18px !default;
$item-text-lineheight: 24px !default;
$item-text-fontweight: 400 !default;
$item-text-color: #333 !default;
$item-text-margin: 0 0 20px !default;

//-----------------------
// If Teaser (Linked)
//-----------------------


//Link
$item-link-font: sans-serif !default;
$item-link-fontsize: 18px !default;
$item-link-lineheight: 24px !default;
$item-link-fontweight: 600 !default;
$item-link-color: #fff !default;
$item-link-display: block !default;
$item-link-margin: 0 0 10px !default;
$item-link-padding: 10px !default;
$item-link-bg: #ff2bac !default;
$item-link-bg-hover: #a50659 !default;

.rb-item {
	position: relative;
	width: 100%;
	padding: #{$item-padding};
	background: #{$item-bg};

	&.is-teaser {
		cursor: pointer;
		transition: all 400ms;
	}
}

.item-mediabox-inner {
	display: block;
	position: relative;
	height: 0;
	width: 100%;
	margin: #{$item-mediabox-margin};
	padding-bottom: calc(9/16 * 100%); //16:9 ratio
	background: #{$item-mediabox-bg};
}

.item-media {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

//Text content
.item-textbox {

}

.item-title {
	margin: #{$item-title-margin};
	font: #{$item-title-fontweight} #{$item-title-fontsize} / #{$item-title-lineheight} #{$item-title-font};
	color: #{$item-title-color};

	.is-teaser & {
		&:hover,
		&:focus,
		&.is-focus-within {
			.item-title {
				color: #{$item-title-color-hover};
			}
		}
	}
}

.item-text {
	margin: #{$item-text-margin};
	font: #{$item-text-fontweight} #{$item-text-fontsize} / #{$item-text-lineheight} #{$item-text-font};
	color: #{$item-text-color};
}

.item-link {
	display: #{$item-link-display};
	padding: #{$item-link-padding};
	font: #{$item-link-fontweight} #{$item-link-fontsize} / #{$item-link-lineheight} #{$item-link-font};
	color: #{$item-link-color};
	background: #{$item-link-bg};

	.is-teaser & {
		&:hover,
		&:focus,
		&.is-focus-within {

			.item-link {
				border: none;
				outline: none;
				background: #{$item-link-bg-hover};
			}
		}
	}
}

//a11y solution
.item-link-title {

	.is-teaser & {
		@include rb-hide-text;
	}
}
